div.thumbnail.thumbnail-large {
    height: 320px;
}

div.thumbnail.thumbnail-small {
    height: 240px;
    font-size: 12px;
}

    div.thumbnail img {
        width: 300px;
        height: 200px;
    }

.btn-blue {
    color: #fff;
    background-color: #0d8fdb;
    border-color: #0d8fdb;
}

.btn-red {
    color: #fff;
    background-color: #aa3939;
    border-color: #aa3939;
}

.btn-green {
    color: #fff;
    background-color: #4c9838;
    border-color: #4c9838;
}

.btn-purple {
    color: #fff;
    background-color: #3a5a97;
    border-color: #3a5a97;
}

[data-isotope-role="container"] {
    display:none;
}